html,
body {
    height: 100%;
}

html {
    box-sizing: border-box;
}

body {
    font-size: 18px;
    font-family: 'Circe';
    margin: 0;
    color: #f7f9ff;
}

ul,
li {
    list-style-type: none;
}