.button {
    display: inline-block;
    border-radius: 40px;
    font-size: 0.9rem;
    overflow: hidden;
    font-family: $main-bold-font !important;
    padding: 10px 25px;
    transition: 1s;
    &__green {
        color: #f7f9fc;
        background-color: #a3cd8c;
        transition: 0.3s;
        font-size: 1.1rem;
    }
    &__transparent {
        border: 3px solid #a3cd8c;
        color: #9ecd8c;
    }
    &__blue {
        background-color: #7da3d7;
        border-radius: 3px;
        border: none;
        width: 80%;
        color: #f7f9fc;
    }
    &__text__uppercase {
        text-transform: uppercase;
        color: #f7f9fc;
    }
    span {
        font-size: 1.1rem;
        position: relative;
        left: 7px;
        top: 3px;
    }
    @media (max-width: 480px) {
        padding: 5px 5px;
        span {
            left: 2px;
        }
    }
}

.button {
    &__green,
    &__blue {
        padding: 20px 90px;
        @media (max-width: 720px) {
            padding: 15px 40px;
        }
    }
}

.button:hover::before {
    content: '';
    -webkit-box-shadow: 0 0 0 10000px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 0 10000px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 0 10000px rgba(0, 0, 0, 0.1);
}