.container {
    max-width: 1024px;
    margin: auto;
}

.header__text {
    font-family: $main-bold-font;
    font-size: 1.8rem;
    margin-top: 0;
}

.gray__title {
    padding: 20px 0 20px 0;
    font-size: 1rem;
    color: #99a3ae;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 1024px) {
        flex-direction: column;
        text-align: center;
        &>div {
            padding: 25px;
        }
    }
}

.gradient-border {
    position: relative;
    background: linear-gradient(0.25turn, #a3cd8c, #8db5b8, #7da3d7);
    height: 5px;
    z-index: 20;
}

.border__bottom {
    border-bottom: 3px solid#56627e;
}