$main-extrabold-font:'Circe-ExtraBold';
$main-bold-font:'Circe-Bold';
$main-light-font:'Circe-Light';
$main-extralight-font:'Circe-ExtraLight';
$main-default:'Circe';
$nav-items:['ABOUT',
'HELP',
'SIGN UP',
'SIGN IN'];