.form-section {
    background: cadetblue url('../images/bg2.png') center/cover no-repeat;    
    h1 {
        color: #4a4a4a;
    }
    .form {
        text-align: center;
        border-radius: 3px;
        background-color: #ffffff;
        padding: 30px 20px;
        z-index: 100;
        position: relative;
        &__container {            
            width: 65%;
            margin: auto;
        }
        &__top__img {
            background-image: url('../images/ribbon.png');
            height: 10px;
        }
        &__field {
            margin-bottom: 30px;
        }
        &__input {
            margin: 15px 0 15px 0;
            padding: 10px;
            width: 80%;
            background-color: #f4f7fb;
        }
    }

    .close-butt{
        position: absolute;        
        margin: -80px 500px;
        background: indianred;
        border-radius: 5px;
    }

    .fa-arrow-circle-down{
        color: #f7f9ff;
        @include center-x();
        font-size: 60px;
        margin: -90px 0;
    }
}