.hero {
    padding: 270px 0;
    text-align: center;
    width: 100%;
    font-family: 'Circe-Bold';
    &__about {
        font-size: 2.7rem;
    }
    &__title {
        padding: 0 140px 0 140px;
        margin: 50px 0 50px 0;
        font-size: 1.1rem;
    }
    @media (max-width:1000px) {
        padding: 100px 0 0 0;
        &__title {
            padding: 0;
        }
    }
    @media (max-width:480px) {
        padding: 0;
    }
}