.reliability {
    @include gradient(#38445f, #475d77);
    border-bottom: 3px solid #4e637c;
    padding: 100px 0 70px 0;
    &__container {
        display: flex;
        align-items: center;
    }
    &__image {
        object-fit: cover;
    }
}