.features {
    text-align: center;
    &__list {
        @media(min-width: 750px) and (max-width: 1024px) {
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
            &>li {
                width: 40%;
                margin: 20px;
            }
        }
    }
    &__header {
        font-size: 1.05rem;
    }
    &__list {
        margin: 0;
        padding: 0;
    }
    &__item {
        width: 30%;
    }
}