.transactions {
    &__container {
        align-items: flex-start;
        @media (max-width: 1024px) {
            align-items: center;
        }
    }
    tr>td>div {
        width: 245px;
        overflow: hidden;
        text-overflow: ellipsis;
        @media (max-width: 650px) {
            width: 150px;
        }
    }
    tr>td:nth-child(1) {
        color: #7a9dd0;
    }
    tr>td:nth-child(2) {
        color: #908d98;
    }
    tr>td:nth-child(3) {
        color: #60b985;
    }
    ul>li:nth-child(2n) {
        color: #908d98;
        padding: 14px 0 14px 0;
    }
}