section.conditions 
 .container 
  .conditions__container.flex-container
   .conditions__image
    img(src="images/image2.png", alt="image not found")
   .conditions__description
    h1.header__text LOYAL CONDITIONS
    p.gray__title.
     In the tumultuous business of cutting-in and attending to a whale,there is much running backwards and forwards among the crew 
     In the tumultuous business of cutting-in and attending to a whale,there is much running backwards and forwards among the crew 
    a.button.button__transparent Our condotions
     span.fas.fa-chevron-right