section.form-section
 .container
  .form__container 
   .form__top__img
   form(method="post" action="#").form
    h1.header__text CONTACT US
    .form__field 
     input.form__input(type="text" placeholder="NAME")
     input.form__input(type="text" placeholder="EMAIL")
     textarea.form__input(name="", cols="30", rows="10" placeholder="YOUR MASSEGE")
    button(type='submit').button.button__blue.button__text__uppercase send us your message
.gradient-border    