section.growth.border__bottom 
 .container 
  .growth__container.flex-container  
   .growth__description
    h1.header__text STABLE GROWTH
    p.gray__title  In the tumultuous business of cutting-in and attending to a whale,there is much running backwards and forwards among the crew 
    a.button.button__transparent More about your income
     span.fas.fa-chevron-right    
   .growth__image
    img(src="images/image3.png", alt="image not found")