header.header
 .container
  .main__header
   .logo
    .logo__text crypto
     span BTC
   span.course 1 BTC = 32,097.23 
    i.fas.fa-yen-sign
   .raiting -0.14%
   include nav
   include hero 
.gradient-border    
   
   

   
