section.hero
 .hero__about EARN MORE THEN 100% A YEAR
 .hero__title In the tumultuous business of cutting-in and attending to a whale,there is much running backwards and forwards among the crew 
 a.button.button__green.button__text__uppercase(href='#') Start earning