section.reliability
 .container 
  .reliability__container 
   .reliability__desctiption 
     h1.header__text RELIABILITY
     p.gray__title In the tumultuous business of cutting-in and attending to a whale,there is much running backwards and forwards among the crew 
     a.button.button__transparent  Whats our secret? 
   .reliability__image 
    img(src="images/image1.png", alt="image not found")
    
 