section.features.border__bottom
 .container 
   ul.features__list
    li.features__item     
     img(src="images/icon1.svg", alt="image not found")
     h3.features__header ANONYMOUS ACCOUNTS
     p.gray__title In the tumultuous business of cutting-in and attending to a whale,there is much running backwards and forwards among the crew 
   
    li.features__item
     img(src="images/icon2.svg", alt="image not found")     
     h3.features__header ANONYMOUS TRANSACTIONS
     p.gray__title In the tumultuous business of cutting-in and attending to a whale,there is much running backwards and forwards among the crew 
  
    li.features__item
     img(src="images/icon3.svg", alt="image not found")     
     h3.features__header 100% SSL ENCRYPTING
     p.gray__title In the tumultuous business of cutting-in and attending to a whale,there is much running backwards and forwards among the crew 